<div class="container">
<form [formGroup]="form" (ngSubmit)="submit()">
 <div class="form-wrapper">
	<div>
		<label for="firstValue">Add Initial Value</label>
		<input type="text" id='firstValue' formControlName="firstInputDivisibleValue">
		<div class="validation-error" *ngIf="f.firstInputDivisibleValue.invalid && f.firstInputDivisibleValue.dirty">
			Please enter valid numeric valuess
		</div>
	</div>
	<div>
		<label for="secondValue">Add Devider value</label>
		<input formControlName="secondInputDivisibleValue" id="secondValue" type="text"/>
		<div class="validation-error" *ngIf="f.secondInputDivisibleValue.invalid && f.secondInputDivisibleValue.dirty">
			Please enter valid numeric valuess
		</div>
	</div>
	<div>
		<label>Total Result</label>
		<input type="text" formControlName="divisibleResultValue" id="result"
    >
	</div>
  <button type="submit">submit</button>
</div>
</form>
</div>